In [283]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# read csv files

cause_of_death_csv = pd.read_csv("cause_of_deaths.csv")
population_csv = pd.read_csv("POP_TOTAL_DS2_en_v2.csv", skiprows=4)

cause_of_death = pd.DataFrame(cause_of_death_csv)
#cause_of_death_csv.head()
population_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55435.0,56226.0,56697.0,57029.0,57360.0,...,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0,NaN,NaN
1,Andorra,AND,"Population, total",SP.POP.TOTL,13414.0,14376.0,15376.0,16410.0,17470.0,18551.0,...,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8994793.0,9164945.0,9343772.0,9531555.0,9728645.0,9935358.0,...,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0,NaN,NaN
3,Angola,AGO,"Population, total",SP.POP.TOTL,5270844.0,5367287.0,5465905.0,5565808.0,5665701.0,5765025.0,...,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0,NaN,NaN
4,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0,NaN,NaN

In [284]:
population = pd.DataFrame(population_csv)
population_drop = population.drop(population.iloc[:, 3:34], axis=1)
population_drop

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0,NaN,NaN
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0,NaN,NaN
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0,NaN,NaN
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,"Population, total",11961099.0,12571240.0,13245003.0,13948118.0,14633091.0,15266147.0,15834747.0,...,22322699.0,22954226.0,23591972.0,24234940.0,24882792.0,25533217.0,26183676.0,26832215.0,NaN,NaN
260,South Africa,ZAF,"Population, total",35200000.0,35933108.0,36690739.0,37473796.0,38283223.0,39120000.0,40000247.0,...,49296223.0,50020918.0,50771826.0,51549958.0,52356381.0,53192216.0,54058647.0,54956920.0,NaN,NaN
261,"Congo, Dem. Rep.",COD,"Population, total",34962676.0,36309209.0,37783835.0,39314955.0,40804011.0,42183620.0,43424997.0,...,61809278.0,63845097.0,65938712.0,68087376.0,70291160.0,72552861.0,74877030.0,77266814.0,NaN,NaN
262,Zambia,ZMB,"Population, total",8143142.0,8361381.0,8576987.0,8794061.0,9018229.0,9253527.0,9502346.0,...,13114579.0,13507849.0,13917439.0,14343526.0,14786581.0,15246086.0,15721343.0,16211767.0,NaN,NaN
263,Zimbabwe,ZWE,"Population, total",10484771.0,10763036.0,11019717.0,11256512.0,11476807.0,11683136.0,11877664.0,...,13495462.0,13720997.0,13973897.0,14255592.0,14565482.0,14898092.0,15245855.0,15602751.0,NaN,NaN

In [285]:
cleaned_population = population_drop.drop(['2016', 'Unnamed: 61'], axis=1)
cleaned_population

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,100830.0,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,18541467.0,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,"Population, total",11961099.0,12571240.0,13245003.0,13948118.0,14633091.0,15266147.0,15834747.0,...,21093973.0,21701105.0,22322699.0,22954226.0,23591972.0,24234940.0,24882792.0,25533217.0,26183676.0,26832215.0
260,South Africa,ZAF,"Population, total",35200000.0,35933108.0,36690739.0,37473796.0,38283223.0,39120000.0,40000247.0,...,47921682.0,48596781.0,49296223.0,50020918.0,50771826.0,51549958.0,52356381.0,53192216.0,54058647.0,54956920.0
261,"Congo, Dem. Rep.",COD,"Population, total",34962676.0,36309209.0,37783835.0,39314955.0,40804011.0,42183620.0,43424997.0,...,57926840.0,59834875.0,61809278.0,63845097.0,65938712.0,68087376.0,70291160.0,72552861.0,74877030.0,77266814.0
262,Zambia,ZMB,"Population, total",8143142.0,8361381.0,8576987.0,8794061.0,9018229.0,9253527.0,9502346.0,...,12381509.0,12738676.0,13114579.0,13507849.0,13917439.0,14343526.0,14786581.0,15246086.0,15721343.0,16211767.0
263,Zimbabwe,ZWE,"Population, total",10484771.0,10763036.0,11019717.0,11256512.0,11476807.0,11683136.0,11877664.0,...,13127942.0,13297798.0,13495462.0,13720997.0,13973897.0,14255592.0,14565482.0,14898092.0,15245855.0,15602751.0

In [286]:
population_total = cleaned_population.rename(columns={"Country Name": "Country/Territory"})
population_total

,Country/Territory,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,100830.0,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,18541467.0,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,"Population, total",11961099.0,12571240.0,13245003.0,13948118.0,14633091.0,15266147.0,15834747.0,...,21093973.0,21701105.0,22322699.0,22954226.0,23591972.0,24234940.0,24882792.0,25533217.0,26183676.0,26832215.0
260,South Africa,ZAF,"Population, total",35200000.0,35933108.0,36690739.0,37473796.0,38283223.0,39120000.0,40000247.0,...,47921682.0,48596781.0,49296223.0,50020918.0,50771826.0,51549958.0,52356381.0,53192216.0,54058647.0,54956920.0
261,"Congo, Dem. Rep.",COD,"Population, total",34962676.0,36309209.0,37783835.0,39314955.0,40804011.0,42183620.0,43424997.0,...,57926840.0,59834875.0,61809278.0,63845097.0,65938712.0,68087376.0,70291160.0,72552861.0,74877030.0,77266814.0
262,Zambia,ZMB,"Population, total",8143142.0,8361381.0,8576987.0,8794061.0,9018229.0,9253527.0,9502346.0,...,12381509.0,12738676.0,13114579.0,13507849.0,13917439.0,14343526.0,14786581.0,15246086.0,15721343.0,16211767.0
263,Zimbabwe,ZWE,"Population, total",10484771.0,10763036.0,11019717.0,11256512.0,11476807.0,11683136.0,11877664.0,...,13127942.0,13297798.0,13495462.0,13720997.0,13973897.0,14255592.0,14565482.0,14898092.0,15245855.0,15602751.0

In [301]:
# Convert to long format
year = list(population_total.columns)[3:]
years = pd.melt(population_total, id_vars=["Country/Territory"], value_vars=year, value_name='Total Population', 
                var_name='Year')
complete = years.sort_values(by=['Country/Territory', 'Year'])
complete

     Country/Territory  Year  Total Population
2          Afghanistan  1990        12067570.0
266        Afghanistan  1991        12789374.0
530        Afghanistan  1992        13745630.0
794        Afghanistan  1993        14824371.0
1058       Afghanistan  1994        15869967.0
...                ...   ...               ...
5807          Zimbabwe  2011        14255592.0
6071          Zimbabwe  2012        14565482.0
6335          Zimbabwe  2013        14898092.0
6599          Zimbabwe  2014        15245855.0
6863          Zimbabwe  2015        15602751.0

[6864 rows x 3 columns]

In [293]:
# Merge data of csv file
merge_data = pd.merge(complete, cause_of_death_csv, on=["Country/Territory"], how="left")
merge_data
df = merge_data.dropna()
df

,Country/Territory,Year_x,Total Population,Code,Year_y,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,1990,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,...,2108.0,3709.0,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0
1,Afghanistan,1990,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,...,2120.0,3724.0,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0
2,Afghanistan,1990,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,...,2153.0,3776.0,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0
3,Afghanistan,1990,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,...,2195.0,3862.0,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0
4,Afghanistan,1990,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,...,2231.0,3932.0,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137301,Zimbabwe,2015,15602751.0,ZWE,2015.0,1439.0,754.0,215.0,3019.0,2518.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
137302,Zimbabwe,2015,15602751.0,ZWE,2016.0,1457.0,767.0,219.0,3056.0,2050.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
137303,Zimbabwe,2015,15602751.0,ZWE,2017.0,1460.0,781.0,223.0,2990.0,2116.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
137304,Zimbabwe,2015,15602751.0,ZWE,2018.0,1450.0,795.0,227.0,2918.0,2088.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
137305,Zimbabwe,2015,15602751.0,ZWE,2019.0,1450.0,812.0,232.0,2884.0,2068.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [295]:
df2 = df.drop(columns=['Year_x'])

df2

,Country/Territory,Total Population,Code,Year_y,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,2108.0,3709.0,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0
1,Afghanistan,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,1391.0,...,2120.0,3724.0,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0
2,Afghanistan,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,1514.0,...,2153.0,3776.0,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0
3,Afghanistan,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,1687.0,...,2195.0,3862.0,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0
4,Afghanistan,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,1809.0,...,2231.0,3932.0,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137301,Zimbabwe,15602751.0,ZWE,2015.0,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
137302,Zimbabwe,15602751.0,ZWE,2016.0,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
137303,Zimbabwe,15602751.0,ZWE,2017.0,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
137304,Zimbabwe,15602751.0,ZWE,2018.0,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
137305,Zimbabwe,15602751.0,ZWE,2019.0,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [296]:
death_and_population = df2.rename(columns={'Year_y':'Year'})

death_and_population

,Country/Territory,Total Population,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,2108.0,3709.0,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0
1,Afghanistan,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,1391.0,...,2120.0,3724.0,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0
2,Afghanistan,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,1514.0,...,2153.0,3776.0,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0
3,Afghanistan,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,1687.0,...,2195.0,3862.0,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0
4,Afghanistan,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,1809.0,...,2231.0,3932.0,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137301,Zimbabwe,15602751.0,ZWE,2015.0,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
137302,Zimbabwe,15602751.0,ZWE,2016.0,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
137303,Zimbabwe,15602751.0,ZWE,2017.0,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
137304,Zimbabwe,15602751.0,ZWE,2018.0,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
137305,Zimbabwe,15602751.0,ZWE,2019.0,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [297]:
percent = (death_and_population['Meningitis'] / death_and_population['Total Population']) * 100
percent

0         0.017891
1         0.018380
2         0.020510
3         0.023302
4         0.025084
            ...
137301    0.009223
137302    0.009338
137303    0.009357
137304    0.009293
137305    0.009293
Length: 134730, dtype: float64