In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# read csv files

cause_of_death_csv = pd.read_csv("cause_of_deaths.csv")
population_csv = pd.read_csv("POP_TOTAL_DS2_en_v2.csv", skiprows=4)

cause_of_death = pd.DataFrame(cause_of_death_csv)
#cause_of_death_csv.head()
cause_of_death

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,...,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,...,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,...,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,...,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [3]:
population = pd.DataFrame(population_csv)
population_drop = population.drop(population.iloc[:, 3:34], axis=1)
population_drop

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0,NaN,NaN
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0,NaN,NaN
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0,NaN,NaN
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,"Population, total",11961099.0,12571240.0,13245003.0,13948118.0,14633091.0,15266147.0,15834747.0,...,22322699.0,22954226.0,23591972.0,24234940.0,24882792.0,25533217.0,26183676.0,26832215.0,NaN,NaN
260,South Africa,ZAF,"Population, total",35200000.0,35933108.0,36690739.0,37473796.0,38283223.0,39120000.0,40000247.0,...,49296223.0,50020918.0,50771826.0,51549958.0,52356381.0,53192216.0,54058647.0,54956920.0,NaN,NaN
261,"Congo, Dem. Rep.",COD,"Population, total",34962676.0,36309209.0,37783835.0,39314955.0,40804011.0,42183620.0,43424997.0,...,61809278.0,63845097.0,65938712.0,68087376.0,70291160.0,72552861.0,74877030.0,77266814.0,NaN,NaN
262,Zambia,ZMB,"Population, total",8143142.0,8361381.0,8576987.0,8794061.0,9018229.0,9253527.0,9502346.0,...,13114579.0,13507849.0,13917439.0,14343526.0,14786581.0,15246086.0,15721343.0,16211767.0,NaN,NaN
263,Zimbabwe,ZWE,"Population, total",10484771.0,10763036.0,11019717.0,11256512.0,11476807.0,11683136.0,11877664.0,...,13495462.0,13720997.0,13973897.0,14255592.0,14565482.0,14898092.0,15245855.0,15602751.0,NaN,NaN

In [4]:
cleaned_population = population_drop.drop(['2016', 'Unnamed: 61'], axis=1)
cleaned_population

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,100830.0,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,18541467.0,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,"Population, total",11961099.0,12571240.0,13245003.0,13948118.0,14633091.0,15266147.0,15834747.0,...,21093973.0,21701105.0,22322699.0,22954226.0,23591972.0,24234940.0,24882792.0,25533217.0,26183676.0,26832215.0
260,South Africa,ZAF,"Population, total",35200000.0,35933108.0,36690739.0,37473796.0,38283223.0,39120000.0,40000247.0,...,47921682.0,48596781.0,49296223.0,50020918.0,50771826.0,51549958.0,52356381.0,53192216.0,54058647.0,54956920.0
261,"Congo, Dem. Rep.",COD,"Population, total",34962676.0,36309209.0,37783835.0,39314955.0,40804011.0,42183620.0,43424997.0,...,57926840.0,59834875.0,61809278.0,63845097.0,65938712.0,68087376.0,70291160.0,72552861.0,74877030.0,77266814.0
262,Zambia,ZMB,"Population, total",8143142.0,8361381.0,8576987.0,8794061.0,9018229.0,9253527.0,9502346.0,...,12381509.0,12738676.0,13114579.0,13507849.0,13917439.0,14343526.0,14786581.0,15246086.0,15721343.0,16211767.0
263,Zimbabwe,ZWE,"Population, total",10484771.0,10763036.0,11019717.0,11256512.0,11476807.0,11683136.0,11877664.0,...,13127942.0,13297798.0,13495462.0,13720997.0,13973897.0,14255592.0,14565482.0,14898092.0,15245855.0,15602751.0

In [5]:
population_total = cleaned_population.rename(columns={"Country Name": "Country/Territory"})
population_total

,Country/Territory,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,100830.0,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,18541467.0,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,"Yemen, Rep.",YEM,"Population, total",11961099.0,12571240.0,13245003.0,13948118.0,14633091.0,15266147.0,15834747.0,...,21093973.0,21701105.0,22322699.0,22954226.0,23591972.0,24234940.0,24882792.0,25533217.0,26183676.0,26832215.0
260,South Africa,ZAF,"Population, total",35200000.0,35933108.0,36690739.0,37473796.0,38283223.0,39120000.0,40000247.0,...,47921682.0,48596781.0,49296223.0,50020918.0,50771826.0,51549958.0,52356381.0,53192216.0,54058647.0,54956920.0
261,"Congo, Dem. Rep.",COD,"Population, total",34962676.0,36309209.0,37783835.0,39314955.0,40804011.0,42183620.0,43424997.0,...,57926840.0,59834875.0,61809278.0,63845097.0,65938712.0,68087376.0,70291160.0,72552861.0,74877030.0,77266814.0
262,Zambia,ZMB,"Population, total",8143142.0,8361381.0,8576987.0,8794061.0,9018229.0,9253527.0,9502346.0,...,12381509.0,12738676.0,13114579.0,13507849.0,13917439.0,14343526.0,14786581.0,15246086.0,15721343.0,16211767.0
263,Zimbabwe,ZWE,"Population, total",10484771.0,10763036.0,11019717.0,11256512.0,11476807.0,11683136.0,11877664.0,...,13127942.0,13297798.0,13495462.0,13720997.0,13973897.0,14255592.0,14565482.0,14898092.0,15245855.0,15602751.0

In [37]:
# Convert to long format
year = list(population_total.columns)[3:]
years = pd.melt(population_total, id_vars=["Country/Territory"], value_vars=year, value_name='Total Population', 
                var_name='Year')
complete = years.sort_values(by=['Country/Territory', 'Year'])
complete.head(50)

complete = complete.astype({'Year':'string'})
complete = complete.astype({'Country/Territory':'string'})

complete.dtypes

Country/Territory     string
Year                  string
Total Population     float64
dtype: object

In [48]:
pd.merge(cause_death, complete, right_index=True, left_index=True)

,Country/Territory_x,Total Population_x,Code,Year_x,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Continent,Country,Country/Territory_y,Year_y,Total Population_y
0,Afghanistan,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,5945.0,2673.0,5005.0,323.0,2985.0,Asia,Afghanistan,Aruba,1990,62148.0
1,Afghanistan,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,1391.0,...,6050.0,2728.0,5120.0,332.0,3092.0,Asia,Afghanistan,Andorra,1990,54511.0
2,Afghanistan,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,1514.0,...,6223.0,2830.0,5335.0,360.0,3325.0,Asia,Afghanistan,Afghanistan,1990,12067570.0
3,Afghanistan,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,1687.0,...,6445.0,2943.0,5568.0,396.0,3601.0,Asia,Afghanistan,Angola,1990,11127870.0
4,Afghanistan,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,1809.0,...,6664.0,3027.0,5739.0,420.0,3816.0,Asia,Afghanistan,Albania,1990,3286542.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6859,Armenia,2963496.0,ARM,2009.0,9.0,577.0,153.0,5.0,0.0,58.0,...,1201.0,1071.0,1617.0,49.0,8.0,Europe,Armenia,"Yemen, Rep.",2015,26832215.0
6860,Armenia,2963496.0,ARM,2010.0,8.0,614.0,159.0,5.0,0.0,57.0,...,1196.0,1101.0,1668.0,48.0,7.0,Europe,Armenia,South Africa,2015,54956920.0
6861,Armenia,2963496.0,ARM,2011.0,7.0,647.0,162.0,4.0,0.0,54.0,...,1207.0,1129.0,1714.0,48.0,6.0,Europe,Armenia,"Congo, Dem. Rep.",2015,77266814.0
6862,Armenia,2963496.0,ARM,2012.0,7.0,681.0,164.0,4.0,0.0,53.0,...,1217.0,1116.0,1718.0,50.0,4.0,Europe,Armenia,Zambia,2015,16211767.0
6863,Armenia,2963496.0,ARM,2013.0,6.0,713.0,162.0,3.0,0.0,49.0,...,1211.0,1097.0,1704.0,49.0,3.0,Europe,Armenia,Zimbabwe,2015,15602751.0

In [36]:
pd.merge(cause_death, complete,  how='right', left_on=["Country/Territory", 'Year'], right_on = ["Country/Territory", 'Year'])

,Country/Territory,Total Population_x,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Continent,Country,Total Population_y
0,Afghanistan,NaN,NaN,1990,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12067570.0
1,Afghanistan,NaN,NaN,1991,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12789374.0
2,Afghanistan,NaN,NaN,1992,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13745630.0
3,Afghanistan,NaN,NaN,1993,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14824371.0
4,Afghanistan,NaN,NaN,1994,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15869967.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6859,Zimbabwe,NaN,NaN,2011,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14255592.0
6860,Zimbabwe,NaN,NaN,2012,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14565482.0
6861,Zimbabwe,NaN,NaN,2013,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14898092.0
6862,Zimbabwe,NaN,NaN,2014,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15245855.0
6863,Zimbabwe,NaN,NaN,2015,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15602751.0

In [19]:
# Merge data of csv file
merge_data = pd.merge(complete, cause_of_death, on=["Country/Territory"], how="left")
merge_data
df = merge_data.dropna()
df.head(100)

,Country/Territory,Year_x,Total Population,Code,Year_y,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,1990,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,...,2108.0,3709.0,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0
1,Afghanistan,1990,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,...,2120.0,3724.0,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0
2,Afghanistan,1990,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,...,2153.0,3776.0,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0
3,Afghanistan,1990,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,...,2195.0,3862.0,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0
4,Afghanistan,1990,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,...,2231.0,3932.0,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Afghanistan,1993,14824371.0,AFG,1995.0,3102.0,1225.0,394.0,3131.0,175.0,...,2248.0,3974.0,467.0,3087.0,6211.0,6823.0,3076.0,5843.0,434.0,3946.0
96,Afghanistan,1993,14824371.0,AFG,1996.0,3193.0,1239.0,398.0,3175.0,175.0,...,2298.0,4041.0,485.0,3130.0,6446.0,7000.0,3133.0,5966.0,450.0,4098.0
97,Afghanistan,1993,14824371.0,AFG,1997.0,3304.0,1253.0,402.0,3250.0,240.0,...,2347.0,4094.0,504.0,3203.0,6677.0,7168.0,3200.0,6096.0,469.0,4252.0
98,Afghanistan,1993,14824371.0,AFG,1998.0,3281.0,1267.0,405.0,3193.0,563.0,...,2388.0,4120.0,505.0,3145.0,6683.0,7287.0,3231.0,6154.0,472.0,4310.0
99,Afghanistan,1993,14824371.0,AFG,1999.0,3200.0,1281.0,409.0,3115.0,468.0,...,2437.0,4150.0,502.0,3068.0,6603.0,7400.0,3247.0,6182.0,470.0,4332.0

In [8]:
df2 = df.drop(columns=['Year_x'])

df2

,Country/Territory,Total Population,Code,Year_y,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,2108.0,3709.0,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0
1,Afghanistan,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,1391.0,...,2120.0,3724.0,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0
2,Afghanistan,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,1514.0,...,2153.0,3776.0,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0
3,Afghanistan,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,1687.0,...,2195.0,3862.0,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0
4,Afghanistan,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,1809.0,...,2231.0,3932.0,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137301,Zimbabwe,15602751.0,ZWE,2015.0,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
137302,Zimbabwe,15602751.0,ZWE,2016.0,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
137303,Zimbabwe,15602751.0,ZWE,2017.0,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
137304,Zimbabwe,15602751.0,ZWE,2018.0,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
137305,Zimbabwe,15602751.0,ZWE,2019.0,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [9]:
death_and_population = df2.rename(columns={'Year_y':'Year'})

death_and_population

,Country/Territory,Total Population,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,2108.0,3709.0,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0
1,Afghanistan,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,1391.0,...,2120.0,3724.0,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0
2,Afghanistan,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,1514.0,...,2153.0,3776.0,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0
3,Afghanistan,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,1687.0,...,2195.0,3862.0,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0
4,Afghanistan,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,1809.0,...,2231.0,3932.0,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137301,Zimbabwe,15602751.0,ZWE,2015.0,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
137302,Zimbabwe,15602751.0,ZWE,2016.0,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
137303,Zimbabwe,15602751.0,ZWE,2017.0,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
137304,Zimbabwe,15602751.0,ZWE,2018.0,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
137305,Zimbabwe,15602751.0,ZWE,2019.0,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [11]:
death_and_population

,Country/Territory,Total Population,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,2108.0,3709.0,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0
1,Afghanistan,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,1391.0,...,2120.0,3724.0,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0
2,Afghanistan,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,1514.0,...,2153.0,3776.0,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0
3,Afghanistan,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,1687.0,...,2195.0,3862.0,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0
4,Afghanistan,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,1809.0,...,2231.0,3932.0,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137301,Zimbabwe,15602751.0,ZWE,2015.0,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,3176.0,2108.0,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0
137302,Zimbabwe,15602751.0,ZWE,2016.0,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,3259.0,2160.0,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0
137303,Zimbabwe,15602751.0,ZWE,2017.0,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,3313.0,2196.0,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0
137304,Zimbabwe,15602751.0,ZWE,2018.0,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,3381.0,2240.0,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0
137305,Zimbabwe,15602751.0,ZWE,2019.0,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,3460.0,2292.0,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0

In [13]:
#can we group by continent first? 
countries_continents = pd.read_csv('countries_continents.csv')

del countries_continents['Unnamed: 0']
countries_continents

         Continent    Country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela
194            NaN        NaN

[195 rows x 2 columns]

In [15]:
#merge the two df

cause_death = pd.merge(death_and_population, countries_continents, how = 'left', left_on=['Country/Territory'], right_on=['Country'])
cause_death

,Country/Territory,Total Population,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,...,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Continent,Country
0,Afghanistan,12067570.0,AFG,1990.0,2159.0,1116.0,371.0,2087.0,93.0,1370.0,...,338.0,2054.0,4154.0,5945.0,2673.0,5005.0,323.0,2985.0,Asia,Afghanistan
1,Afghanistan,12067570.0,AFG,1991.0,2218.0,1136.0,374.0,2153.0,189.0,1391.0,...,351.0,2119.0,4472.0,6050.0,2728.0,5120.0,332.0,3092.0,Asia,Afghanistan
2,Afghanistan,12067570.0,AFG,1992.0,2475.0,1162.0,378.0,2441.0,239.0,1514.0,...,386.0,2404.0,5106.0,6223.0,2830.0,5335.0,360.0,3325.0,Asia,Afghanistan
3,Afghanistan,12067570.0,AFG,1993.0,2812.0,1187.0,384.0,2837.0,108.0,1687.0,...,425.0,2797.0,5681.0,6445.0,2943.0,5568.0,396.0,3601.0,Asia,Afghanistan
4,Afghanistan,12067570.0,AFG,1994.0,3027.0,1211.0,391.0,3081.0,211.0,1809.0,...,451.0,3038.0,6001.0,6664.0,3027.0,5739.0,420.0,3816.0,Asia,Afghanistan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134725,Zimbabwe,15602751.0,ZWE,2015.0,1439.0,754.0,215.0,3019.0,2518.0,770.0,...,381.0,2990.0,2373.0,2751.0,1956.0,4202.0,632.0,146.0,Africa,Zimbabwe
134726,Zimbabwe,15602751.0,ZWE,2016.0,1457.0,767.0,219.0,3056.0,2050.0,801.0,...,393.0,3027.0,2436.0,2788.0,1962.0,4264.0,648.0,146.0,Africa,Zimbabwe
134727,Zimbabwe,15602751.0,ZWE,2017.0,1460.0,781.0,223.0,2990.0,2116.0,818.0,...,398.0,2962.0,2473.0,2818.0,2007.0,4342.0,654.0,144.0,Africa,Zimbabwe
134728,Zimbabwe,15602751.0,ZWE,2018.0,1450.0,795.0,227.0,2918.0,2088.0,825.0,...,400.0,2890.0,2509.0,2849.0,2030.0,4377.0,657.0,139.0,Africa,Zimbabwe
134729,Zimbabwe,15602751.0,ZWE,2019.0,1450.0,812.0,232.0,2884.0,2068.0,827.0,...,405.0,2855.0,2554.0,2891.0,2065.0,4437.0,662.0,136.0,Africa,Zimbabwe

In [ ]:
percent = (death_and_population['Meningitis'] / death_and_population['Total Population']) * 100
percent