In [543]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# read csv files

cause_of_death_csv = pd.read_csv("cause_of_deaths.csv")
population_csv = pd.read_csv("POP_TOTAL_DS2_en_v2.csv", skiprows=4)

cause_of_death = pd.DataFrame(cause_of_death_csv)
#cause_of_death_csv
population_csv.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54208.0,55435.0,56226.0,56697.0,57029.0,57360.0,...,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0,NaN,NaN
1,Andorra,AND,"Population, total",SP.POP.TOTL,13414.0,14376.0,15376.0,16410.0,17470.0,18551.0,...,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8994793.0,9164945.0,9343772.0,9531555.0,9728645.0,9935358.0,...,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0,NaN,NaN
3,Angola,AGO,"Population, total",SP.POP.TOTL,5270844.0,5367287.0,5465905.0,5565808.0,5665701.0,5765025.0,...,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0,NaN,NaN
4,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0,NaN,NaN

In [544]:
population = pd.DataFrame(population_csv)
population_drop = population.drop(population.iloc[:, 3:34], axis=1)
population_drop.head()

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,Unnamed: 61
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0,NaN,NaN
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0,NaN,NaN
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0,NaN,NaN
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0,NaN,NaN
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0,NaN,NaN

In [545]:
cleaned_population = population_drop.drop(['2016', 'Unnamed: 61'], axis=1)
cleaned_population.head()

,Country Name,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,100830.0,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,18541467.0,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0

In [546]:
population_total = cleaned_population.rename(columns={"Country Name": "Country/Territory"})
population_total.head()

,Country/Territory,Country Code,Indicator Name,1990,1991,1992,1993,1994,1995,1996,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,"Population, total",62148.0,64623.0,68235.0,72498.0,76700.0,80326.0,83195.0,...,100830.0,101218.0,101342.0,101416.0,101597.0,101936.0,102393.0,102921.0,103441.0,103889.0
1,Andorra,AND,"Population, total",54511.0,56674.0,58904.0,61003.0,62707.0,63854.0,64291.0,...,83373.0,84878.0,85616.0,85474.0,84419.0,82326.0,79316.0,75902.0,72786.0,70473.0
2,Afghanistan,AFG,"Population, total",12067570.0,12789374.0,13745630.0,14824371.0,15869967.0,16772522.0,17481800.0,...,25183615.0,25877544.0,26528741.0,27207291.0,27962207.0,28809167.0,29726803.0,30682500.0,31627506.0,32526562.0
3,Angola,AGO,"Population, total",11127870.0,11472173.0,11848971.0,12246786.0,12648483.0,13042666.0,13424813.0,...,18541467.0,19183907.0,19842251.0,20520103.0,21219954.0,21942296.0,22685632.0,23448202.0,24227524.0,25021974.0
4,Albania,ALB,"Population, total",3286542.0,3266790.0,3247039.0,3227287.0,3207536.0,3187784.0,3168033.0,...,2992547.0,2970017.0,2947314.0,2927519.0,2913021.0,2904780.0,2900247.0,2896652.0,2893654.0,2889167.0

In [547]:
# Convert to long format
year = list(population_total.columns)[3:]
years = pd.melt(population_total, id_vars=["Country/Territory"], value_vars=year, value_name='Total Population', 
                var_name='Year')
complete = years.sort_values(by=['Country/Territory', 'Year'])
complete.head()

     Country/Territory  Year  Total Population
2          Afghanistan  1990        12067570.0
266        Afghanistan  1991        12789374.0
530        Afghanistan  1992        13745630.0
794        Afghanistan  1993        14824371.0
1058       Afghanistan  1994        15869967.0

In [548]:
death_cause = cause_of_death['Year']=cause_of_death['Year'].astype(str)

In [549]:
# population_total = complete['Country/Territory']=complete['Country/Territory'].astype(object)

In [550]:
# cause_of_death.join(population_total, on=['Year', 'Country/Territory'])

In [553]:
# Merge data of csv file
merge_data = pd.merge(cause_of_death, complete, on=['Country/Territory', 'Year'], how="left")
# merge_data = pd.merge(cause_of_death, complete, how="left", right_index=True, left_index=True)
death_and_population = merge_data.dropna()
death_and_population

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis,Total Population
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,3709,338,2054,4154,5945,2673,5005,323,2985,12067570.0
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,3724,351,2119,4472,6050,2728,5120,332,3092,12789374.0
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,3776,386,2404,5106,6223,2830,5335,360,3325,13745630.0
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,3862,425,2797,5681,6445,2943,5568,396,3601,14824371.0
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,3932,451,3038,6001,6664,3027,5739,420,3816,15869967.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6111,Zimbabwe,ZWE,2011,1803,722,211,3013,3479,743,1222,...,1998,358,2983,2335,2721,2062,4136,615,152,14255592.0
6112,Zimbabwe,ZWE,2012,1586,724,209,3095,2763,754,1243,...,2004,366,3065,2328,2708,2011,4132,622,152,14565482.0
6113,Zimbabwe,ZWE,2013,1448,731,209,3017,3544,732,1241,...,2013,362,2987,2289,2693,1964,4107,612,148,14898092.0
6114,Zimbabwe,ZWE,2014,1422,741,212,2977,3685,734,1257,...,2057,367,2948,2302,2715,1952,4138,615,146,15245855.0
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,2108,381,2990,2373,2751,1956,4202,632,146,15602751.0

In [ ]:
# percent = (death_and_population['Meningitis'] / death_and_population['Total Population']) * 100
# percent

In [ ]:
# create a graph to better analyze the data